.productContainer {
  display: flex;
  gap: 50px;
}

.productInfo {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: 400px;
}

.productContainer img {
  width: 300px;
  height: 300px;
  border-radius: 8px;
}

.productContainer button {
  margin-top: auto;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  background-color: #34495e;
  cursor: pointer;
}

.category {
  font-size: 16px;
  color: #7f8c8d;
}

.price {
  margin-top: 8px;
  font-weight: bold;
  font-size: 20px;
}

.description {
  padding: 20px;
  font-size: 18px;
  line-height: 30px;
  color: gray;
}

.reviewItem {
  padding: 12px;
  border-bottom: 1px solid #95a5a6;
}

.reviewItem .text {
  margin-top: 8px;
}

.reviewHeader {
  display: flex;
  gap: 10px;
  font-size: 14px;
  color: #7f8c8d;
}

.reviewEmpty {
  height: 100px;
  display: flex;
  align-items: center;
  justify-self: center;
}
